
/* index-styles */

.parentContainer {
    display: flex;
    flex-direction: row;
    border-radius: 2%;
    background-color: orange;
    padding: 2%;
}

.flexChild {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2%;
    background-color: blueviolet;
    padding: 25px;
    margin: 5px;
    height: auto;
}

#logoo {
    width: 60px;
    padding: 3%;
}

 .navbar {
    width: 50%;
    margin-left: auto;
    display: inline-block;
}

li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}

.navbar li {
    display: inline-block;
}